html{
    font-family: 'Courier Prime', monospace;
    
}
body{
    margin: 0%;
}
p{
    font-size: 17px;
}
.encabezado {
    background-color: rgb(0, 53, 0);
    color: white;
    display: flex;
}
.txt-encabezado {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    font-size: 17px;
}
.cuerpo {
    text-align: center;
    width: 55%;
    margin-left: 22.5%;
}
.titulo-cuerpo {
    font-size: 70px;
}
.subtitulo-cuerpo {
    font-size: 17px;
    margin-bottom: 7%;
}
.linea-botones {
    display: flex;
    border-bottom: solid 2px rgb(210, 98, 0);
    width: 70%;
}
.boton-1 {
    background-color: rgb(210, 98, 0);
    width: 10%;
    color: white;
}
.link {
    color: white;
    text-align: center;
    text-decoration: none;
}
.boton-1-margen {
    text-align: center;
}
a {
    display: flex;
    margin-top: 16%;
    margin-left: 16%;
}
.boton-2 {
    width: 10%;
    text-align: center;
}
.boton-3 {
    width: 10%;
    text-align: center;
}
.centro-1-70{
    display: flex;
    flex-wrap: wrap;
}
.centro-2-30 {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    margin-left: 72%;
    margin-top: -19%;
}
.centro-2-30-2 {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    margin-left: 72%;
    margin-top: -42%;
}
.apartados-green {
    margin-left: 0.6%;
}
.casilla-green {
    background-color:  rgb(3, 82, 5);
    color: white;
    display: flex;
    border-bottom: 10px solid white;
    width: 125%
}
.txt-centro {
    margin-left: 7%;
    width: 56%;
    margin-right: 8.5%;
}
.linea-ventas {
    margin-left: 2%;
}
.txt-green {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}
.unlibro {
    width: 33%;
}
.libros-precio {
    display: flex;
}

@media screen and (max-width:768px){
    .cuerpo {
        width: 85%;
        margin-left: 7.5%;
    }
    .linea-botones {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .boton-1, .boton-2, .boton-3 {
        width: 100%;
    }
    .linea-ventas {
        display: flex;
        flex-wrap: wrap;
    }
    .txt-centro {
        margin-left: 10%;
        width: 100%;
        margin-right: 10%;
    }
    .centro-2-30 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0%;
        margin-top: 0%;
    }
    .centro-2-30-2 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0%;
        margin-top: 0%;
    }
    .casilla-green {
        width: 100%;
    }
    .topventas {
        width: 100%;
    }
    .apartados-green {
        margin-top: 12%;
        margin-left: -25%;
        margin-right: -25%;
        width: 101.9%;
    }
    a {
        display: flex;
        margin-top: 5%;
        margin-bottom: 4%;
        margin-left: 43%;
    }
    .unlibro {
        width: 100%;
    }
    .imglibro {
        width: 80%;
    }
}